/****************************************[ admin.css ]********************************************/
/* Fichier Frontend */
/*      Ce fichier fait le design de la page Administrateur
*/

body {
    overscroll-behavior: contain;
}

#aside-panel {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 10px #949393;
    z-index: 1;
}

#brainstorming-conteneur {
    flex: 2;
    overflow: hidden;
    position: relative;
    background-color: #c4c4c4;
}

#brainstorming-canvas {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(217, 217, 217, 0.53)), url(../images/logo_blank_600_grey.png);
    background-size: 100px;
    background-position: center center;
    background-color: #f6f6f6;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    cursor: -webkit-grab;
    position: relative;
    width: 6000px;
    height: 6000px;
    box-shadow: 0px 0px 50px #0000006e;
    font-size: 22px;
    font-family: sans-serif;
    animation: welcome-brainstorming-canvas;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

#canvas-welcome {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 180px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 10px #0000006e;
    cursor: default;
    text-align: center;
}

#brainstorming-title {
    border: 0;
    resize: none;
    font-size: 25px;
    width: -webkit-fill-available;
    max-height: 196px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
}

#brainstorming-title:focus + #brainstorming-title-progress {
    height: 5px;
}

#brainstorming-title-progress {
    position: absolute;
    width: 0%;
    height: 0px;
    background-color: #00000030;
    bottom: 0;
    left: 0;
    transition-duration: .2s;
}

.no-canvas-drag {
    user-select: none;
}

#top-onglets {
    height: 3rem;
    background-color: #e6e6e6;
    display: flex;
}

.onglets-menu {
    flex: 1;
    display: inline-block;
    font-size: 18px;
    /*Pour qu'ils ne viennent pas à la ligne*/
    margin: -1px;
    position: relative;
    width: 33%;
    height: 100%;
    text-align: center;
    box-shadow: inset 0px 0px 0px black;
    transition-duration: .3s;
}

.onglets-menu-icon {
    position: relative;
    top: 30%;
}

input[name=aside-panel-radio] {
    display: none;
}

input[name=aside-panel-radio]:checked + label {
    box-shadow: inset 0px -3px 0px black;
    flex: 1.2;
}

#nbr-connected-contributeurs {
    background-color: #3e434c;
    color: white;
    min-width: 11px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0px 2px;
    font-family: sans-serif;
    display: inline-block;
    user-select: none;
}

#panel-contenu {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

#flex-panel-conteneur {
    width: 300%;
    height: 100%;
    display: flex;
    margin-left: 0%;
    display: flex;
    transition-duration: .3s;
}

.flex-panel-contenu {
    flex: 1;
    padding: 10px;
    overflow: auto;
}

.flex-panel-contenu-titre {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
}

.flex-panel-contenu-list {
    text-align: center;
    padding-top: 15px;
    font-family: sans-serif;
}

.message-off-board {
    display: block;
    border-radius: 15px;
    border: 1px solid #cbcbcb;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition-duration: 0s;
    overflow: hidden;
}

.message-off-board-contenu {

    padding: 10px;
}

.message-off-board-dropbown {
    margin-top: 0px;
    border-radius: 0px 0px 15px 15px;
    height: 0px;
    transition-duration: .2s;
    box-shadow: 0px -1px 0px #cbcbcb;
}

.message-off-board-dropdown-element {
    padding: 10px;
    background-color: white;
}

.message-off-board-dropdown-element:hover {
    background-color: #f2f2f2;
}

.message-list input[type=checkbox] {
    display: none;
    transition-duration: .2s;
}

.message-list input[type=checkbox] + div.open {
    height: 77px!important;
}

#open-beamer-button {
    width: 90%;
    height: 48px;
    border-radius: 50px;
    color: white;
    margin: 5%;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 5px solid #bc7819;
    border-top: 0px solid #bc7819;
    background-color: #e9951f;
    transition-duration: .2s;
}

#open-beamer-button:hover {
    border-bottom: 0px solid #bc7819;
    border-top: 5px solid #bc7819;
}

.brainstorming-conteneur-overlay {
    position: absolute;
    padding: 10px 30px;
    background-color: #e7e7e7;
    transform: skewX(5deg);
}

#brainstorming-conteneur-up-right {
    top: 0px;
    right: -5px;
}

#brainstorming-conteneur-bottom-left {
    display: none;
    color: grey;
    bottom: 0px;
    left: -5px;
}

#brainstorming-token {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.message-on-board {
    position: absolute;
    display: flex;
    min-height: 50px;
    top: 50%;
    left: 50%;
    cursor: default;
    text-align: center;
}

.selected-message {
    box-shadow: 0px 2px 5px 0px #00000082;
    cursor: move;
    animation-name: selected-message-start;
    animation-duration: .3s;
    background-color: white;
}
.message-textarea {
    text-shadow: rgba(0, 0, 0, 0.28) 0px 0px 8px;
    text-align: center;
    border: 0;
    resize: none;
    font-size: 20px;
    user-select: auto;
    font-family: sans-serif;
    background-color: transparent;
    overflow: hidden;
    transition-duration: .3s;
    cursor: move;
}

.message-textarea:disabled {
    background-color: transparent;
    color: black;
    user-select: none;
}

.message-on-board:not(.selected-message) {
    animation-name: selected-message-end;
    animation-duration: .3s;
}

#rotate-message {
    left: -5px;
    top: 42%;
    cursor: pointer;
}

#resize-message {
    right: -5px;
    bottom: -5px;
    cursor: pointer;
}

#delete-message {
    right: -5px;
    top: -5px;
    cursor: pointer;
}

#menu-selected-message {
    background-color: #ffffff;
    width: 160px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    top: -38px;
    left: 0px;
    border: 1px solid #bebebe;
}

.menu-selected-message-item {
    flex: 1;
    margin: 3px;
    border: 1px solid #bababa;
    border-radius: 5px;
    cursor: pointer;
}

.edit-selected-message {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    animation-name: selected-messdage-start;
    animation-duration: .3s;
    cursor: default;
}

.delete-selected-message .fas {
    color: #767676;
    font-size: 11px;
}

.edit-selected-message > .fas {
    font-size: 10px;
    vertical-align: top;
    color: #808080;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.edit-selected-message .fas.fa-arrows-alt-v {
    transform: rotate(-45deg);
}

#menu-mobile-checkbox:checked + label + #aside-panel, #menu-mobile-checkbox:checked + label {
    left: 0%;
}

#menu-mobile-checkbox {
    display: none;
}

.menu-mobile-hamburger {
    width: 29px;
    height: 8px;
    margin-top: 12px;
    background-color: #cccccc;
}

#menu-mobile-trigger {
    position: absolute;
    top: 0;
    left: -50%;
    z-index: 1;
    margin-left: 50%;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0, 0.76, 0.25, 1);
    display: none;
}

@media only screen and (max-width: 1000px) {
    #aside-panel {
        flex: 1
    }
}

@media only screen and (max-width: 600px) {
    #aside-panel {
        position: absolute;
        background-color: white;
        top: 0;
        left: -50%;
        height: 100%;
        width: 50%;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, 0.76, 0.25, 1);
    }
    #menu-mobile-trigger {
        display: block;
    }
}

@keyframes selected-message-start {
    from {box-shadow: 0px 0px 0px 0px #ffffff; background-color: transparent;}
    to {box-shadow: 0px 2px 5px 0px #00000082; background-color: white;}
}

@keyframes selected-message-end {
    from {box-shadow: 0px 2px 5px 0px #00000082; background-color: white;}
    to {box-shadow: 0px 0px 0px 0px #ffffff; background-color: transparent;}
}

@keyframes welcome-brainstorming-canvas {
    from {background-size: 15px;}
    to {background-size: 100px;}
}
