/****************************************[ index.css ]********************************************/
/* Fichier Frontend */
/*      Ce fichier fait le design de la page d'accueil
*/

#nuages {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    perspective: 500px;
    overflow: hidden;
    background-image: radial-gradient(farthest-side at 50% 100%, #ff4700 0%, #9783ff 98%);
    /*background-image: linear-gradient(to bottom, #00a0ff, white);*/
    opacity: 0;
    animation: opening-page;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#nuages-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.nuage {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    text-align: center;
    background-image: url(/images/cloud1.png);
}

#title {
    width: 40%;
    /*background-color: #ecf0f1;*/
    position: relative;
    overflow: hidden;
    min-height: 15%;
}

.text-vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-horisontal-center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 25px;
}

#new-brainstorming {
}

#join-brainstorming {
}

.page-option {
    display: none;
    flex: 1;
    opacity: 0;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    cursor: pointer;
    font-family: sans-serif;
}

.page-option:hover {
    flex: 1.2;
}

.title-image {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.beginning-animation {
    transform: scale(1.5);
    left: 50%;
    animation: beginning-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@media only screen and (max-width: 600px) {
    #full {
        flex-direction: column;
    }
    #title {
        width: 100%;
    }
    .beginning-animation {
        left: 150px;
    }
    .title-image {
        top: 30%;
    }
}

@keyframes beginning-animation {
    from {transform: scale(1.5);}
    to {left: 0%; transform: scale(1);}
}

@keyframes opening-page {
    from {opacity: 0;}
    to {opacity: 1;}
}
