/****************************************[ join.css ]********************************************/
/* Fichier Frontend */
/*      Ce fichier fait le design de la page de join
*/

#keyboard-texte {
    border: 0px;
    border-bottom: 1px solid black;
    padding: 10px;
}

* {
    opacity: 0;
}

#input-instructions {
    color: grey;
    text-align: center;
    font-style: italic;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#keyboard-texte {
    border: 0px;
    font-size: 50px;
    width: 275px;
    text-align: center;
    border-bottom: 4px solid #e6e6e6;
    padding: 10px;
}

.mobile-keyboard-button {
    font-size: 20px;
    border-radius: 100px;
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    border: 0px solid #d0d0d0;
    border-bottom: 5px solid #d0d0d0;
    border-top: 0px;
    cursor: pointer;
    transition-duration: .2s;
}

.mobile-keyboard-button:hover {
    /*background-color: #d2d2d2;*/
    border-bottom: 0px;
    border-top: 5px solid #d0d0d0;
}

#center-page {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.retour-button-subtitle {
    width: 125px;
    height: 40px;
    text-align: center;
    margin: 10px auto;
    border-radius: 30px;
    line-height: 40px;
    transition-duration: .3s;
    border: 3px solid #ff9f00;
    color: #ff9900;
    font-family: sans-serif;
    cursor: pointer;
}

.retour-button-subtitle:hover {
    box-shadow: 0px 6px 10px #00000047;
    user-select: none;
}

#contain-keyboard-mobile{
    display: none;
    position: absolute;
    width: 90%;
    height: 40%;
    bottom: 0px;
    padding: 5%;
}

#contain-keyboard-mobile-table{
    width: 100%;
    height: 100%;
}

#contain-keyboard-mobile-table tr td {
    width: 33%;
}

@media only screen and (max-width: 600px) {
    #contain-keyboard-mobile{
        display: block;
    }

    #keyboard-texte {
        background-color: white;
        color: black;
        font-size: 30px;
        width: 80%;
        padding: 5%;
        margin: 5%;
    }

    #center-page {
        top: 30%;
    }
}
