/****************************************[ layout.css ]********************************************/
/* Fichier Frontend */
/*      Ce fichier contient des déclarations CSS utiles dans toutes les pages du site
*/

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#full {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

*:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.button {
    min-width: 30%;
    height: 48px;
    margin: 10px;
    padding: 0px 20px;
    border-radius: 50px;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    transition-duration: .3s;
    border-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 5px;
    border-style: solid;
    vertical-align: top;
    background-color: #e9951f;
    border-color: #bc7819;
    color: white;
}

.button:hover:not(.btn-disabled) {
    border-bottom-width: 0px!important;
    border-top-width: 5px!important;
}

.button-link {
    cursor: pointer;
}

.btn-disabled {
    cursor: no-drop;
}

.fa-spinner {
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
