/****************************************[ user.css ]********************************************/
/* Fichier Frontend */
/*      Ce fichier fait le design de la page Contributeurs
*/

#vertical-flex {
    display: flex;
    flex-direction: row;
}

#propositions-area {
    padding: 30px;
    padding-top: 5%;
    text-align: center;
    z-index: 1;
    transition-duration: .3s;

}

#last-propositions {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    overflow: auto;
}

#vos-contributions {
    padding: 30px;
}

.contribution {
    width: 500px;
    word-break: break-word;
    font-size: 18px;
    background-color: #e6e6e6;
    color: #4e4e4e;
    margin: 10px 0px;
    padding: 10px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#vos-contributions-titre {
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#input-proposition {
    resize: none;
    border: 0px;
    font-size: 20px;
    width: 500px;
    height: 75px;
    text-align: center;
    border-bottom: 4px solid #e6e6e6;
    background-color: #f7f7f7;
    overflow: hidden;
}

#input-proposition:focus {
    background-color: #ececec;
}

#submit-proposition {
    font-size: 25px;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
}

#submit-proposition:hover {
    border-bottom: 0px;
    border-top: 5px solid #e6e6e6;
}

#open-beamer {
    font-size: 20px;
    min-width: 100px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

#open-beamer:hover {
    border-bottom: 0px solid #bc7819;
    border-top: 5px solid #bc7819;
}

#vertical-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #input-proposition {
        width: 275px;
    }

    .contribution {
        width: 275px;
    }
}
