<!--**************************************[ 404.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient le contenu de la page d'erreur du site. Elle est renvoyée
            quand une requête renvoie sur un fichier inexistant
-->

Vous avez l'air perdu... Revenez par <a href="#" onclick="homepage()">ici</a> !
<!-- Ramène à l'index -->
<script>
function homepage() {
    console.log(document.location.origin);
    window.location = document.location.origin;
}
</script>
