<!--**************************************[ admin.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient le contenu de la page d'administration des brainstormings
(url.com/adminxxxxxx...xxxxxx) -> xxxxxx...xxxxxx représente l'ID du brainstorming
sur lequel l'admin est connecté
-->

<link rel="stylesheet" href="./css/admin.css" type="text/css">
<link rel="stylesheet" href="./css/admin_test.css" type="text/css">
<div id="full">
    <!-- menu -->
    <input type="checkbox" id="menu-mobile-checkbox">
    <label id="menu-mobile-trigger" for="menu-mobile-checkbox">
        <div class="menu-mobile-hamburger"></div>
        <div class="menu-mobile-hamburger"></div>
        <div class="menu-mobile-hamburger"></div>
    </label>
    <div id="aside-panel">
        <div id="top-onglets">
            <input type="radio" name="aside-panel-radio" id="messages-panel-radio" checked>
            <label class="onglets-menu" for="messages-panel-radio">
                <span class="onglets-menu-icon"><i class="fas fa-comment"></i></span>
            </label>
            <input type="radio" name="aside-panel-radio" id="contributeurs-panel-radio">
            <label class="onglets-menu" for="contributeurs-panel-radio">
                <span class="onglets-menu-icon"><i class="fas fa-users"></i><span id="nbr-connected-contributeurs"></span></span>
            </label>
            <input type="radio" name="aside-panel-radio" id="settings-panel-radio">
            <label class="onglets-menu" for="settings-panel-radio">
                <span class="onglets-menu-icon"><i class="fas fa-cog"></i></span>
            </label>
        </div>
        <div id="panel-contenu">
            <div id="flex-panel-conteneur">
                <div id="flex-panel-messages" class="flex-panel-contenu">
                    <div class="flex-panel-contenu-titre">Messages</div>
                    <div id="flex-panel-messages-list" class="flex-panel-contenu-list"></div>
                </div>
                <div id="flex-panel-contributeurs" class="flex-panel-contenu">
                    <div class="flex-panel-contenu-titre">Utilisateurs</div>
                    <div id="flex-panel-contributeurs-list" class="flex-panel-contenu-list"></div>
                </div>
                <div id="flex-panel-settings" class="flex-panel-contenu">
                    <div class="flex-panel-contenu-titre">Paramètres</div>
                    <div id="flex-panel-settings-list" class="flex-panel-contenu-list">
                        <div class="flex-panel-contenu-list">
                            <form method="post" enctype="multipart/form-data" id="brainstorming-upload-form">
                                <label id="label-upload-brainstorming" for="upload-brainstorming" class="button button-link"><div class="vertical-center">Uploader un brainstorming</div></label>
                                <input type="file" id="upload-brainstorming" style="display: none;"accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </form>
                        </div>
                        <div class="flex-panel-contenu-list">
                            <div class="button button-link" id="download-brainstorming"><div class="vertical-center">Télécharger le brainstorming</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="open-beamer-button"><div class="vertical-center">Beamer</div></div>
    </div>
    <!-- canvas du brainstorming -->
    <div id="brainstorming-conteneur">
        <div id="brainstorming-canvas">
            <div id="canvas-welcome" class="no-canvas-drag vertical-center">
                <textarea type="text" id="brainstorming-title" class="vertical-center" data-autoresize rows="1"></textarea>
                <div id="brainstorming-title-progress"></div>
            </div>
            <div id="canvas-messages"></div>
        </div>
        <div id="brainstorming-conteneur-up-right" class="brainstorming-conteneur-overlay">
            <div id="brainstorming-token"></div>
        </div>
        <div id="brainstorming-conteneur-bottom-left" class="brainstorming-conteneur-overlay">
            <div><i class="fas fa-spinner"></i> Sauvegarde en cours</div>
        </div>
    </div>
</div>
<script>
// Partie JavaScript de la page ------------------------------------------------------------------------------------

var zoom;
var isTouchDevice = 'ontouchstart' in document.documentElement;
if(isTouchDevice) {
    //Si l'utilisateur est sur mobile
    alert('Cet appareil n\'est pas optimisé pour la création de brainstorming. Veuillez vous rendre sur un navigateur sur ordinateur.');
}

var token;
socket.emit('admin_join', "{{ id }}");

//Avant que l'administrateur quitte la page
window.onbeforeunload = function(){
    socket.emit('admin_disconnect');
};

//ouverture du popup de la page beamer
$('#open-beamer-button').click(function() {
    window.open(document.location.origin + '/beamer' + token, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=30,width=500,height=500");
});

//Quand l'administrateur veux télécharger le brainstorming
$('#download-brainstorming').click(function() {
    //Si le bouton n'est pas désactivé
    if(!$(this).hasClass('btn-disabled')) {
        //Envoie un message au serveur pour qu'il prépare le fichier à télécharger
        //Quand ça sera fait, la fonction socket.on('download_ready') s'activera et le téléchargement commencera
        socket.emit('brainstorming_download');
        //Désactive le bouton pour éviter du spam
        $(this).addClass('btn-disabled');
        $(this).children().first().html('<i class="fas fa-spinner"></i>');
    }
});

//Changement du titre du brainstorming
$(document).on('change keyup keydown paste', '#brainstorming-title', function() {
    if($('#brainstorming-title').val().length < 80) {
        var title = $('#brainstorming-title').val();
        socket.emit('change_title', title);
        //Calculer la taille que l'élément textarea doit prendre pour que le texte entier s'affiche
        calculate_textarea_size();
        //Modifie la taille de la progressbar
        $('#brainstorming-title-progress').css( "width", 100 / 80 * $('#brainstorming-title').val().length + '%');
    }else{
        //Supprime des caractères si le titre est trop long
        $('#brainstorming-title').val($('#brainstorming-title').val().substring(0, 80));
    }
});

//Affiche la progressbar de la longeur du titre du brainstorming
$('#brainstorming-title').focus(function() {
    $('#brainstorming-title-progress').css( "width", 100 / 80 * $('#brainstorming-title').val().length + '%');
});

//Upload d'un fichier sur le serveur (envoi avec ajax)
$('#upload-brainstorming').on('change', function() {
    //Désactiver le bouton upload
    $('#label-upload-brainstorming').addClass('btn-disabled');
    $('#label-upload-brainstorming').children().first().html('<i class="fas fa-spinner"></i>');
    //Objet formData où l'on met les fichiers pour les uploader
    var formData = new FormData();
    //Placer le fichier dans l'objet formData
    formData.append('file', $('#upload-brainstorming').prop('files')[0]);
    $.ajax({
        url: '/',
        type: 'POST',
        data: formData,
        //Dure à jQuery de ne pas s'occuper des données ou de s'inquiéter du content-type
        //Ces options sont obligatoires !
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
            //Lorsque l'upload est terminée
            if(data.upload_success) {
                //Réactiver le bouton upload
                $('#label-upload-brainstorming').removeClass('btn-disabled');
                $('#label-upload-brainstorming').children().first().html('Uploader un brainstorming');
                //Dire au serveur qu'il peut charger les données du fichier uploadé
                socket.emit('file_uploaded', data.name);
            }else {
                alert('upload_error');
            }
        }
    });
});

//Fonctions socket qui reçoivent des messages du serveur ----------------------------------------------------------------------------------

//Quand le serveur accepte que l'utilisateur se connecte
socket.on('admin_accept', function(token_brain, title_brain) {
    token = token_brain;
    $('#brainstorming-title').val(title_brain);
    $('#brainstorming-token').html("" + token_brain.toString().substring(0, 3) + '-' + "" + token_brain.toString().substring(3, 6));
    calculate_textarea_size();
});

//Quand un backup est créé --> notifier les administrateurs
socket.on('create_backup', function() {
    $('#brainstorming-conteneur-bottom-left').fadeIn('slow', function() {
        function fade_this_out() {
            $('#brainstorming-conteneur-bottom-left').fadeOut('slow');
        }
        setTimeout(fade_this_out, 2000);
    });
});

//Si l'administrateur est refusé (brainstorming n'existant pas)
socket.on('admin_refuse', function(message) {
    location.href = document.location.origin;
});

//Lorsque le téléchargement est prêt
socket.on('download_ready', function(url) {
    $('#download-brainstorming').removeClass('btn-disabled');
    $('#download-brainstorming').children().first().html('Télécharger le brainstorming');
    window.location.href = '/download/' + url;
});

socket.on('test', function() {
    console.log('test');
});
</script>
<script src="./js/admin/canvas_interact.js"></script>
<script src="./js/admin/propositions_list.js"></script>
<script src="./js/admin/onboard.js"></script>
