<!--**************************************[ beamer.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient le contenu de la page Beamer (url.com/beamerxxxxxx)
            xxxxxx représente le token du brainstorming connecté
-->

<link rel="stylesheet" href="./css/admin.css" type="text/css">
<div id="full">
    <div id="brainstorming-conteneur">
        <div id="brainstorming-canvas">
            <div id="canvas-welcome" class="no-canvas-drag vertical-center">
                <textarea type="text" id="brainstorming-title" class="vertical-center" data-autoresize rows="1" disabled style="background-color: transparent; color: black; cursor: default;"></textarea>
            </div>
            <div id="canvas-messages">
            </div>
        </div>
    </div>
</div>
<script>
var zoom;
var isTouchDevice = 'ontouchstart' in document.documentElement;
var token;

//Fonctions socket qui reçoivent des messages du serveur ----------------------------------------------------------------------------------

socket.emit('beamer_join', "{{ token }}");
socket.on('beamer_refuse', function() {
    location.href = document.location.origin + '/404';
});

socket.on('alert', function() {
    alert('message');
});

socket.on('note_moved', function(data) {
    console.log(data);
    $('[id_msg="' + data.id_msg + '"]').animate({
        marginLeft: data.x,
        marginTop: data.y
    }, 500);
});

socket.on('change_text', function(data) {
    $('[id_msg="' + data.id_msg + '"]').children().first().children().first().text(data.text);
    calculate_textarea_size();
});

socket.on('change_color', function(data) {
        $('[id_msg="' + data.id_msg + '"]').children().first().children().first().css('color', data.color);
});

socket.on('delete_note', function(id_msg) {
    $('[id_msg="' + id_msg + '"]').fadeOut('slow');
})

socket.on('change_title', function(text) {
    $('#brainstorming-title').text(text);
    calculate_textarea_size();
});

socket.on('note_scaled_rotated', function(data) {
    var i = 0;
    var actual_scale = getScaleValue($('[id_msg="' + data.id_msg + '"]'));
    var actual_rotation = getRotationDegrees($('[id_msg="' + data.id_msg + '"]'));
    //Calculer la différence entre la taille de départ et de fin
    var diff_scale = data.scale - actual_scale;
    //Calculer la différence entre la rotation de départ et de fin
    var diff_rotation = data.rotation - actual_rotation;
    $('[id_msg="' + data.id_msg + '"]').animate({  borderSpacing: data.scale }, {
        step: function() {
            i += 0.025;
            $(this).css('transform','scale(' + (actual_scale + (diff_scale*i)) + ') rotate(' + (actual_rotation + (diff_rotation*i)) + 'deg)');
        },
        duration: 500
    });
});

socket.on('canvas_moved', function(data) {
    $('#brainstorming-canvas').animate({
        marginTop: data.margin_top,
        marginLeft: data.margin_left
    }, 500);
});

socket.on('canvas_zoomed', function(data) {
    $('#brainstorming-canvas').animate({
        zoom: data
    }, 20);
    calculate_textarea_size();
})
</script>
<script src="./js/beamer/canvas_interact.js"></script>
