<!--**************************************[ index.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient le contenu de la page d'accueil du site (url.com/)
-->

<link rel="stylesheet" href="./css/index.css" type="text/css">
<div id="full">
    <div id="nuages"><div id="nuages-container"></div></div>
    <div id="new-brainstorming" class="page-option">
        <div class="text-vertical-center">
            <div class="text-horisontal-center">
                Créer
            </div>
        </div>
    </div>
    <div id="title">
        <img src="/images/banniere_0_blanc.svg" class="title-image beginning-animation">
        <img src="/images/banniere_1.svg" class="title-image beginning-animation">
        <img src="/images/banniere_2.svg" class="title-image">
        <img src="/images/banniere_3.svg" class="title-image">
        <img src="/images/banniere_4.svg" class="title-image">
        <img src="/images/banniere_5.svg" class="title-image">
        <img src="/images/banniere_6.svg" class="title-image">
        <img src="/images/banniere_7.svg" class="title-image">
        <img src="/images/banniere_8.svg" class="title-image">
        <img src="/images/banniere_9.svg" class="title-image">
        <img src="/images/banniere_10.svg" class="title-image">
        <img src="/images/banniere_11.svg" class="title-image">
    </div>
    <div id="join-brainstorming" class="page-option">
        <div class="text-vertical-center">
            <div class="text-horisontal-center">
                Rejoindre
            </div>
        </div>
    </div>
</div>
<script>
//Faire un fadeout avant de changer de page
$('#new-brainstorming').click(function() {
    socket.emit('create_brain');
});

//Faire un fadeout avant de changer de page
$('#join-brainstorming').click(function() {
    $('div').fadeOut('slow', function() {
        location.href = "join";
    });
})

//Demander au serveur de créer un brainstorming
socket.on('brain_created', function(data) {
    $('div').fadeOut('slow', function() {
        location.href = "./admin" + data.id;
    });
});

//Animation du logo
$(function() {
    $('.title-image').each(function(i) {
        var time = 0;
        var between = 150;
        if(i > 1) {
            time += 1950;
            between = 100;
        }
        $(this).delay(i * between + time).animate({
            opacity: 1,
            top: '0%'
        }, 1000);
    });
    $('.page-option').each(function() {
        $(this).delay(3500).queue(function (next) {
            $(this).css('display', 'block');
            next();
        }).animate({
            opacity: 1
        }, 800);
    });
});

//Animation des nuages

setInterval(function() {
    //Création des nuages toutes les secondes
    $('#nuages div:nth-child(8)').remove();
    var height = Math.floor((Math.random() * 2000) + 1200);
    var nuage = '<div class="nuage" style="';
    nuage += 'background-size: ' + height + 'px; ';
    nuage += 'width: ' + height + 'px; height: ' + height + 'px; ';
    nuage += 'margin-left: ' + Math.floor((Math.random() * $(window).width()/2) * (Math.floor(Math.random()*2) == 1 ? 1 : -1)) + 'px; ';
    nuage += 'margin-top: ' + Math.floor((Math.random() * $(window).height()) + $(window).height()/4) + 'px; ';
    nuage += 'transform: translateZ(-1000px)translateX(-50%);';
    //nuage += 'left: -' + height/2 + 'px';
    nuage += 'opacity: 0"';
    nuage += '></div>';
    $('#nuages-container').prepend(nuage);
}, 1000);

setInterval(function() {
    //Déplacement des nuages toutes les 5 milisecondes
    $('.nuage').each(function(i) {
        //Reprendre la valeur "transfrom: translateZ(x)"
        var css = parseInt($(this).css('transform').split(',')[14]);
        //Si la valeur est à zéro, CSS la supprimera --> il faut la recréer
        if(isNaN(css)) {
            css = 1;
        }
        //Suppression de la couche de nuage dès qu'elle a passé le champ de vision
        if(css > 500) {
            $(this).remove();
        }
        $(this).css('transform', 'translateZ(' + (css + 2) + 'px)translateX(-50%)');
        //Fadein à l'apparition du nuage
        $(this).css('opacity', '' + ((css + 1000) /500));
    });
}, 5);

</script>
