<!--**************************************[ join.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient le contenu de la page de join (url.com/join)
-->

<link rel="stylesheet" href="./css/join.css" type="text/css">
<div id="full">
    <div>
        <div id="center-page">
            <div id="input-instructions">Entrez le token reçu ci-dessous pour vous connecter au Brainstorming</div>
            <input id="keyboard-texte" placeholder="000-000"/>
            <div class="retour-button retour-button-subtitle"><i class="fas fa-angle-left"></i> Retour</div>
        </div>
    </div>
    <!-- Clavier mobile -->
    <div id="contain-keyboard-mobile">
        <table id="contain-keyboard-mobile-table">
            <tr>
                <td><button class="mobile-keyboard-button" onclick="keyboard(1)">1</button></td>
                <td><button class="mobile-keyboard-button" onclick="keyboard(2)">2</button></td>
                <td><button class="mobile-keyboard-button" onclick="keyboard(3)">3</button></td>
            </tr>
            <tr>
                <td><button class="mobile-keyboard-button" onclick="keyboard(4)">4</button></td>
                <td><button class="mobile-keyboard-button" onclick="keyboard(5)">5</button></td>
                <td><button class="mobile-keyboard-button" onclick="keyboard(6)">6</button></td>
            </tr>
            <tr>
                <td><button class="mobile-keyboard-button" onclick="keyboard(7)">7</button></td>
                <td><button class="mobile-keyboard-button" onclick="keyboard(8)">8</button></td>
                <td><button class="mobile-keyboard-button" onclick="keyboard(9)">9</button></td>
            </tr>
            <tr>
                <td><button class="mobile-keyboard-button" onclick="keyboard(0)">0</button></td>
                <td colspan="2"><button class="mobile-keyboard-button" onclick="erase()">Effacer</button></td>
            </tr>
        </table>
    </div>
</div>
<script>

//Lorsque le token est correcte, redirection sur la page Contributeur
socket.on('join_ask_true', function() {
    $('#keyboard-texte').css('border-bottom-color', '#00ad0f');
    location.href = document.location.origin + '/user' + token;
});

//Lorsque le token est incorrecte, coloration de la border en rouge
socket.on('join_ask_false', function() {
    $('#keyboard-texte').css('border-bottom-color', '#ff6464');
});

//Fadeout quand l'utilisateur retourne sur la page d'acceuil
$('.retour-button').click(function() {
    $('*').animate({
        opacity: 0
    }, 500, function() {location.href = "/";});
});

//Fadein quand l'utilisateur arrive sur la page
$(function() {
    $('*').animate({
        opacity: 1
    }, 500);
});

//Utilisation du clavier ------------------------------------------------------------------------------------------------------------

var token = "";
function keyboard(input) {
    $('#keyboard-texte').val($('#keyboard-texte').val() + input);
    keyboard_modif()
};
function erase() {
    $('#keyboard-texte').val($('#keyboard-texte').val().substring(0, $('#keyboard-texte').val().length -1));
    keyboard_modif();
};

$('#keyboard-texte').on('input', function() {
    keyboard_modif();
});

//écriture du token en utilisant le clavier
function keyboard_modif() {
    $('#keyboard-texte').css('border-bottom-color', '#d0d0d0');
    if($('#keyboard-texte').val().length == token.length + 1 && $('#keyboard-texte').val().length == 3) {
        $('#keyboard-texte').val($('#keyboard-texte').val() + '-');
    }
    if($('#keyboard-texte').val().length == token.length && $('#keyboard-texte').val().length == 3) {
        $('#keyboard-texte').val($('#keyboard-texte').val().substring(0, $('#keyboard-texte').val().length -1));
    }
    token = $('#keyboard-texte').val().replace('-', '');
    if(token.length > 6) {
        $('#keyboard-texte').val($('#keyboard-texte').val().substring(0, 7));
    }
    if(token.length == 6) {
        socket.emit('join_ask', token);
    }
};
</script>
