<!--**************************************[ layout.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient la balise <head> de toutes les pages du site. Lorsqu'un utilisateur
            souhaite afficher une page, un rendu entre le fichier voulu et celui-ci est fait. Ainsi,
            tous les fichiers rendus aux utilisateurs contiennent ce fichier au début
-->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>{{ title }}</title>

    <!--JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <!-- JS -->
    <script src="./js/functions.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/layout.css" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    //Effectue la connexion avec socket.io
    var socket = io('/{{ namespace }}', {
        query: {
            token: '{{ token }}',
            id: '{{ id }}',
            id_connected_to_brain: localStorage.id_connected_to_brain || null
        }
    });

    //Si la page s'actualise, le message 'page-refreshed est envoyé'
    //Si ce n'est pas le cas et qu'une reconnexion est faite, c'est que le serveur a redémarré
    // --> il va s'occuper d'actualiser le client en envoyant un message 'server_has_restarted'
    socket.emit('page-refreshed');

    //Lorsqu'il faut rafraichir la page
    socket.on('server_has_restarted', function() {
        location.reload();
    });

    //Lorsque le brainstorming est supprimé, décale l'utilisateur sur la page d'accueil du site
    socket.on('brain_deleted', function() {
        alert('Le brainstorming a été supprimé à cause d\'inactivité');
        location.href = document.location.origin;
    });

    </script>
</head>
<body>
    <!-- Endroit où l'autre fichier qu'utilise Handlebars.js pour faire le rendu va se placer -->
    <!-- 'body' est un mot-clé réservé par Handlebars.js-->
    {{{ body }}}
</body>
</html>
