<!--**************************************[ user.hbs ]*******************************************-->
<!-- Fichier Frontend -->
<!--        Ce fichier contient le contenu de la page Contributeurs (url.com/userxxxxxx)
            xxxxxx représente le token du brainstorming connecté
-->

<link rel="stylesheet" href="./css/user.css" type="text/css">
<div id="full">
    <div id="vertical-flex">
        <div id="propositions-area">
            <textarea type="text" id="input-proposition" placeholder="Proposez votre idée de génie ici !" data-autoresize></textarea><br />
            <button id="submit-proposition" class="button"><i class="fas fa-check"></i></button>
            <button id="open-beamer" class="button">Ouvrir le beamer</button>
        </div>
        <div id="last-propositions">
            <div id="vos-contributions-titre">Vos contributions :</div>
            <div id="vos-contributions"></div>
        </div>
    </div>
</div>
<script>
socket.emit('user_join');

socket.on('user_accept', function(data) {
    console.log(data);
    $('#submit-proposition').css('background-color', data.color);
    $('#submit-proposition').css('border-bottom-color', shadeColor(data.color, -15));
    $('#submit-proposition').css('border-top-color', shadeColor(data.color, -15));
    localStorage.setItem('id_connected_to_brain', data.id);
});

socket.on('user_refuse', function() {
    location.href = document.location.origin + '/join';
});

socket.on('user_change_page', function() {
    alert('Vous avez l\'air de vous être connecté sur un autre onglet !');
    location.href = document.location.origin;
});

socket.on('message_proposed', function(messages) {
    for( var i = 0; i < messages.length; i++) {
        var html = '<div class="contribution" style="display: none;"';
        html += 'id_msg="' + messages[i].id + '">';
        html += messages[i].contenu;
        html += '</div>';
        $('#vos-contributions').prepend(html);
        $('#vos-contributions').children().first().slideDown('slow');
    }
});

socket.on('message_already_exists', function(contenu) {
    alert('ce message existe déjà');
});

socket.on('message_deleted', function(id_msg) {
    $('[id_msg="' + id_msg + '"]').slideUp("slow", function() {
        $(this).remove();
    });
});

socket.on('change_title', function(text) {
    $('#input-proposition').prop('placeholder', text);
    calculate_textarea_size();
});

socket.on('admin_disconnected', function() {
    alert('L\'administrateur du brainstorming s\'est déconnecté. Le brainstorming reste pendant 45 min accessible avant de se faire supprimer si l\'administrateur ne se reconnecte pas.');
})

$('#submit-proposition').click(function() {
    if($('#input-proposition').val() != '') {
        socket.emit('propose_message', $('#input-proposition').val());
        $('#input-proposition').val("");
        $('#input-proposition').focus();
    }
});

$('#open-beamer').click(function() {
    window.open(document.location.origin + '/beamer' + {{ token }}, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=30,width=500,height=500");
});

window.onbeforeunload = function(){
    console.log('déconnexion');
    socket.emit('user_disconnect');
};

$(function() {
    $("#last-propositions").scroll(function() {
        if($('#last-propositions')[0].scrollTop > 0) {
            $('#propositions-area').css('box-shadow', '0px 0px 20px #c1c1c1');
        }else{
            $('#propositions-area').css('box-shadow', '0px 0px 0px #c1c1c1');
        }
    });
});
</script>
